*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(239, 227, 246, 0.815);
}
h1{
    text-align: center;
    margin-top: 30px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
    color: orange;
}

h1 span:first-child{
    color: rgb(55, 167, 104);
}
h1 span:last-child{
    color: rgb(0, 0, 0);
}

.prev i, .next i{
    font-size: 50px;
    padding: 40px;
    color: rgb(108, 48, 143);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.carousel{
    display: flex;
    align-items: center;
    position: relative;
}

.pointer{
    background-color: rgba(103, 108, 109, 0.698);
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    border-radius: 5px;
}

.pointer i{
    color: white;
    padding: 0 5px;
}

.pointer i.activ{
    color: darkorange;
}